{% extends 'base.html' %}
{% load material_form %}

{% block title %}Login{% endblock %}

{% block content %}
<h3>Fazer login</h3>
<form method="post">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button class="btn btn-large waves-effect waves-light col s12" type="submit" name="action">Login
        <i class="large material-icons left">account_circle</i>
    </button>
</form>

<div class="row links">
    <a href="#" class="col s12">Cadastrar nova Instituição</a>
    <a href="#" class="col s12">Esqueci minha senha</a>
</div>
{% endblock %}